form {
    border: 1px solid black;
    padding: 1rem;
}

fieldset {
    border: inherit;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
}

.error-list {
    list-style-type: "X ";
    list-style-position: inside;
    margin: 0;
    color: red;
    font-size: 0.8rem;
    font-style: italic;
}
